/* Custom Styles */
body {
  font-family: "Red Hat Display";
}
/* Fonts */
@font-face {
  font-family: "RedHatDisplay";
  font-style: normal;
  src:  local(""),
        url("/fonts/RedHatDisplay-Regular.ttf") format("truetype")
}
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  src: local(""),
    url("/fonts/RedHatDisplay-Regular.ttf") format("truetype")
}
